@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: 0.3s;
}
.btn:hover{
    letter-spacing: 3px;
    color: purple;
}
.popup{
    width: 400px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: 0.3s;
   
}
.popup img{
    width: 100px;
    background: transparent;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    
}
.popup h2{
    font-size: 30px;
    letter-spacing: 2px;
    color: #333;

}
.popup p{
    font-size: 15px;
    color: #333;
    letter-spacing: 2px;
}
.popup button{
    background-color: #4CAF50; 
    border: none;
    color: white;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    padding: 10px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.popup button:hover{
    letter-spacing: 3px;
    color: purple;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}